#wpcontent {
    padding: 0;
}

#resermy-root {
    font-family: "Rubik", monospace;
    font-size: 16px;
}

.resermy-wp-section {
    padding: 2em 4vw;
}

.resermy-wp-section.resermy-wp-section--white {
    background: #fff;
}

.resermy-wp-section.resermy-wp-intro {
    color: white;
    background: #a077dc;
    padding: 4em 4vw;
}

.resermy-wp-section.resermy-wp-intro h1 {
    margin: 0 0 1vh;
    font-size: 1.8em;
    font-weight: normal;
    color: white;
}

.resermy-wp-section.resermy-wp-intro .resermy-wp-intro-tagline {
    font-size: 3em;
    margin: 2vh 0 0;
    line-height: 1em;
}

.resermy-wp-section.resermy-wp-intro .resermy-wp-intro-tagline-sub {
    display: block;
    font-size: 1.6em;
    font-weight: 100;
    margin-top: 8px;
}

.resermy-wp-actionbutton {
    background: #6f44bb;
    color: #eee;
    box-shadow: 1px 1px #58319c, 3px 3px #58319c, 4px 4px #58319c, 5px 5px #58319c !important;
    display: inline-block;
    margin: 2vh 6px;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    padding: 10px 1em;
    font-size: 1em;
    outline: none;
    transition: all 100ms ease;
    cursor: pointer;
}

.resermy-wp-actionbutton:hover, .resermy-wp-actionbutton:focus {
    color: #fff;
    background: #7e58c2;
    outline: none;
}

.resermy-wp-actionbutton:active {
    transform: translate(7px, 7px);
    box-shadow: 0 1px 0 #58319c !important;
}

.resermy-wp-actionbutton.resermy-wip-actionbutton--light {
    background: #fafafa;
    color: #222;
    box-shadow: 1px 1px #ccc, 3px 3px #ccc, 4px 4px #ccc, 5px 5px #ccc !important;
}

.resermy-wp-actionbutton.resermy-wip-actionbutton--light:hover, .resermy-wp-actionbutton.resermy-wip-actionbutton--light:focus {
    box-shadow: 0 1px 0 #eee;
    color: #6f44bb;
    background: white;
}

.resermy-wp-actionbutton.resermy-wip-actionbutton--light:active {
    box-shadow: 0 1px 0 #eee;
}

.resermy-wp-section-content {
    box-sizing: border-box;
    margin: 8px;
}

.resermy-wp-section-content h1 {
    margin: 0 0 .6em;
    font-size: 1.6em;
    font-weight: 500;
}

.resermy-wp-section-content h3 {
    margin: 0 0 .5em 0;
    font-weight: normal;
    font-size: 1.2em;
}

.resermy-wp-section-content .resermy-wp-section-content-sec {
    margin: 2vh 0 2vh;
}

.resermy-wp-section-content .resermy-wp-section-content-imp {
    font-size: 1.2em;
}

.resermy-wp-section-content code {
    color: #5a398a;
    font-weight: bold;
}

@media (min-width: 840px) {
    .resermy-wp-section-content {
        width: calc(75% - 16px);
        margin-left: calc(8% + 8px);
    }
}

@media (max-width: 839px) and (min-width: 480px) {
    .resermy-wp-section-content {
        width: calc(70% - 16px);
        margin-left: calc(10% + 8px);
    }
}

@media (max-width: 479px) {
    #resermy-root {
        font-size: 14px;
    }

    .resermy-wp-section-content {
        margin: 8px auto;
        width: calc(100% - 26px);
    }
}
