#wpbody-content {
    padding: 0;
}

#wpcontent {
    padding: 0;
}

#wpcontent .update-nag,
#wpcontent #update-nag  {
    display: none;
}

.resermy_wp_page_admin {
    height: calc(100vh - 32px); /* admin bar height */
    overflow: hidden;
    position: relative;
}

.resermy_wp_page_admin iframe{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#wpfooter {
    display: none;
}

@media screen and (max-width: 782px) {
    .resermy_wp_page_admin {
        height: calc(100vh - 46px); /* admin bar height */
    }
}